<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author1</key>
	<dict>
		<key>firstname</key>
		<string>Kathy</string>
		<key>lastname</key>
		<string>Reichs</string>
		<key>gender</key>
		<integer>1</integer>
		<key>imageName</key>
		<string>kathyReichsImage</string>
		<key>bio</key>
		<string>Kathleen Joan Toelle Kathy Reichs (born July 7, 1948) is an American crime writer, forensic anthropologist and academic. She is an adjunct professor of anthropology at the University of North Carolina at Charlotte; as of 2016 she is on indefinite leave. She is also affiliated with the Laboratoire des Sciences Judiciaires et de Médecine Légale for the province of Quebec. She is one of the eighty-two forensic anthropologists certified by the American Board of Forensic Anthropology and is on the Board of Directors of the American Academy of Forensic Sciences. Her schedule also involves a number of speaking engagements around the world. Reichs has been a producer for the TV series Bones, which is loosely based on her novels, which in turn, are inspired by her life.</string>
		<key>books</key>
		<dict>
			<key>book1</key>
			<dict>
				<key>title</key>
				<string>Speaking In Bones</string>
				<key>year</key>
				<real>2015</real>
				<key>abstract</key>
				<string>Professionally, Temperance Brennan knows exactly what to do—test, analyze, identify. Her personal life is another story. She’s at a loss, wondering how to answer police detective Andrew Ryan’s marriage proposal. But the matter of matrimony takes a backseat when murder rears its head.
                    Hazel “Lucky” Strike—a strident amateur detective who mines the Internet for cold cases—comes to Brennan with a tape recording of an unknown girl, held prisoner and terrorized. Strike is convinced that the voice is that of eighteen-year-old Cora Teague, who went missing more than three years earlier. Strike is also certain that the teenager’s remains are gathering dust in Temperance Brennan’s lab.
                    
                    Brennan has doubts about working with a self-styled websleuth. But when the evidence seems to add up, Brennan’s next stop is the treacherous backwoods where the chilling recording (and maybe Cora Teague’s bones) were discovered. Her forensic field trip only turns up more disturbing questions—along with gruesome proof of more untimely deaths.
                    
                    While local legends of eerie nocturnal phenomena and sinister satanic cults abound, it’s a zealous and secretive religious sect that has Brennan spooked and struggling to separate the saints from the sinners. But there’s nothing, including fire and brimstone, that can distract her from digging up the truth and taking down a killer—even as Brennan finds herself in a place where angels fear to tread, devils demand their due, and she may be damned no matter what.</string>
			</dict>
			<key>book2</key>
			<dict>
				<key>title</key>
				<string>Swamp Bones</string>
				<key>year</key>
				<integer>2014</integer>
				<key>abstract</key>
				<string>Although a trip to Florida is supposed to be about rest and relaxation, there’s no such thing as a day off for Dr. Temperance Brennan. She has come to visit her friend, a dedicated ornithologist who’s researching the threat that intrusive Burmese pythons pose to indigenous bird species in the Everglades. While sorting through the stomach of an eighteen-foot specimen, they make a disturbing discovery: bones that are unmistakably human. And when Tempe spots the telltale signs of murder by a very different kind of predator, she’s drawn into a case with its roots in the darkest depths of the swamp.</string>
			</dict>
			<key>book3</key>
			<dict>
				<key>title</key>
				<string>Bones Never Lie</string>
				<key>year</key>
				<integer>2014</integer>
				<key>abstract</key>
				<string>Unexpectedly called in to the Charlotte PD’s Cold Case Unit, Dr. Temperance Brennan wonders why she’s been asked to meet with a homicide cop who’s a long way from his own jurisdiction. The shocking answer: Two child murders, separated by thousands of miles, have one thing in common—the killer. Years ago, Anique Pomerleau kidnapped and murdered a string of girls in Canada, then narrowly eluded capture. It was a devastating defeat for her pursuers, Brennan and police detective Andrew Ryan. Now, as if summoned from their nightmares, Pomerleau has resurfaced in the United States, linked to victims in Vermont and North Carolina. When another child is snatched, the reign of terror promises to continue—unless Brennan can rise to the challenge and make good on her second chance to stop a psychopath.
                    
                    But Brennan will have to draw her bitter ex-partner out of exile, keep the local police and feds from one another’s throats, and face more than just her own demons as she stalks the deadliest of predators into the darkest depths of madness.</string>
			</dict>
			<key>book4</key>
			<dict>
				<key>title</key>
				<string>Spider Bones</string>
				<key>year</key>
				<integer>2011</integer>
				<key>abstract</key>
				<string>John Lowery was declared dead in 1968—the victim of a Huey crash in Vietnam, his body buried long ago in North Carolina. Four decades later, Temperance Brennan is called to the scene of a drowning in Hemmingford, Quebec. The victim appears to have died while in the midst of a bizarre sexual practice. The corpse is later identified as John Lowery. But how could Lowery have died twice, and how did an American soldier end up in Canada?
                    
                    Tempe sets off for the answer, exhuming Lowery’s grave in North Carolina and taking the remains to Hawaii for reanalysis—to the headquarters of JPAC, the U.S. military’s Joint POW/ MIA Accounting Command, which strives to recover Americans who have died in past conflicts. In Hawaii, Tempe is joined by her colleague and ex-lover Detective Andrew Ryan (how “ex” is he?) and by her daughter, who is recovering from her own tragic loss. Soon another set of remains is located, with Lowery’s dog tags tangled among them. Three bodies—all identified as Lowery.
                    
                    And then Tempe is contacted by Hadley Perry, Honolulu’s flamboyant medical examiner, who needs help identifying the remains of an adolescent boy found offshore. Was he the victim of a shark attack? Or something much more sinister?
                    
                    A complex and riveting tale of deceit and murder unfolds in this, the thirteenth thrilling novel in Reichs’s “cleverly plotted and expertly maintained series” (The New York Times Book Review). With the smash hit Bones now in its fifth season and in full syndication—and her most recent novel, 206 Bones, an instant New York Times bestseller—Kathy Reichs is at the top of her game.</string>
			</dict>
			<key>book5</key>
			<dict>
				<key>title</key>
				<string>Monday Mourning</string>
				<key>year</key>
				<integer>2005</integer>
				<key>abstract</key>
				<string>The secrets of the dead are in her hands.
                    
                    The bones of three young women are unearthed in the basement of a Montreal pizza parlor, and forensic anthropologist Tempe Brennan has unsolved murder on her mind as she examines the shallowly buried remains. Coming up against a homicide cop who is convinced the dead have been entombed on the site for centuries, Tempe perseveres, even with her own relationship with Detective Andrew Ryan at a delicate turning point. In the lab, the clean, well-perserved bones offer few clues. But when Carbon 14 confirms her hunch that these were recent deaths despite the antique buttons found near the bodies, Tempe’s probing must produce answers quickly to stop a killer whose grisly handiwork has seen the light of day.</string>
			</dict>
		</dict>
	</dict>
	<key>author2</key>
	<dict>
		<key>firstname</key>
		<string>James</string>
		<key>lastname</key>
		<string>Patterson</string>
		<key>gender</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>jamesPattersonImage</string>
		<key>bio</key>
		<string>James Brendan Patterson (born March 22, 1947) is an American author. He is largely known for his novels about fictional psychologist Alex Cross, the protagonist of the Alex Cross series. Patterson also wrote the Michael Bennett, Women&apos;s Murder Club, Maximum Ride, Daniel X, NYPD Red, and Witch and Wizard series, as well as many stand-alone thrillers, non-fiction and romance novels. His books have sold more than 300 million copies and he holds the Guinness World Record for being the first person to sell 1 million e-books.</string>
		<key>books</key>
		<dict>
			<key>book1</key>
			<dict>
				<key>title</key>
				<string>Never Never</string>
				<key>year</key>
				<integer>2017</integer>
				<key>abstract</key>
				<string>Detective Harriet Blue of the Sydney Police Department prides herself on an uncanny ability to catch the most deviant of criminals. So when her brother is charged with a brutal string of murders, it rocks her world. Shocked, in denial, and facing uncomfortable questions about how much she knew, Harry is transferred to avoid the media circus. Investigating the disappearance of a worker in an isolated mine deep inside the desolate Australian outback—the never never—she uncovers an insular society that has sprung up around the mine. It&apos;s a world full of easy money, plenty of immoral ways to spend it, and no shortage of suspects. Still reeling from her investigative failures back home, Harry must get to the bottom of the mine&apos;s mysteries before she vanishes into the wilds of the never never for good.</string>
			</dict>
			<key>book2</key>
			<dict>
				<key>title</key>
				<string>Filthy Rich</string>
				<key>year</key>
				<integer>2016</integer>
				<key>abstract</key>
				<string>Jeffrey Epstein rose from humble origins to the rarefied heights of New York City&apos;s financial elite. A college dropout with an instinct for numbers—and for people—Epstein amassed his wealth through a combination of access and skill. But even after he had it all, Epstein wanted more. And that unceasing desire—especially a taste for young girls—resulted in his stunning fall from grace. From Epstein himself, to the girls he employed as masseuses at his home, to the cops investigating the appalling charges against him, FILTHY RICH examines all sides of a case that scandalized one of America&apos;s richest communities. An explosive true story, FILTHY RICH is a riveting account of wealth, power and the influence they bring to bear on the American justice system.</string>
			</dict>
			<key>book3</key>
			<dict>
				<key>title</key>
				<string>Private Down Under</string>
				<key>year</key>
				<integer>2014</integer>
				<key>abstract</key>
				<string>With the best detectives in the business, cutting edge technology and offices around the globe, there is no investigation company quite like Private. Now, at a glittering launch party overlooking the iconic Opera House, Private Sydney throws open its doors...
                    
                    Craig Gisto and his newly formed team have barely raised their glasses, however, when a young Asian man, blood-soaked and bullet-ridden, staggers into the party, and what looks like a botched kidnapping turns out to be a whole lot more.
                    
                    Within days the agency&apos;s caseload is full. But it is a horrific murder in the wealthy Eastern Suburbs and the desperate search for a motive that stretches the team to the limit. Stacy Friel, friend of the Deputy Commissioner of NSW Police, isn&apos;t the killer&apos;s first victim—and as the bodies mount up she&apos;s clearly not the last...</string>
			</dict>
			<key>book4</key>
			<dict>
				<key>title</key>
				<string>Guilty Wives</string>
				<key>year</key>
				<integer>2012</integer>
				<key>abstract</key>
				<string>
                    Only minutes after Abbie Elliot and her three best friends step off of a private helicopter, they enter the most luxurious, sumptuous, sensually pampering hotel they have ever been to. Their lavish presidential suite overlooks Monte Carlo, and they surrender: to the sun and pool, to the sashimi and sake, to the Bruno Paillard champagne. For four days they&apos;re free to live someone else&apos;s life. As the weekend moves into pulsating discos, high-stakes casinos, and beyond, Abbie is transported to the greatest pleasure and release she has ever known.
                    
                    What happened last night?
                    In the morning&apos;s harsh light, Abbie awakens on a yacht, surrounded by police. Something awful has happened—something impossible, unthinkable. Abbie, Winnie, Serena, and Bryah are arrested and accused of the foulest crime imaginable. And now the vacation of a lifetime becomes the fight of a lifetime—for survival. GUILTY WIVES is the ultimate indulgence, the kind of nonstop joy-ride of excess, friendship, betrayal, and danger that only James Patterson can create.</string>
			</dict>
		</dict>
	</dict>
	<key>author3</key>
	<dict>
		<key>firstname</key>
		<string>J. R. R.</string>
		<key>lastname</key>
		<string>Tolkien</string>
		<key>gender</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>jrrTolkienImage</string>
		<key>bio</key>
		<string>John Ronald Reuel Tolkien (1892-1973) was a major scholar of the English language, specialising in Old and Middle English. Twice Professor of Anglo-Saxon (Old English) at the University of Oxford, he also wrote a number of stories, including most famously The Hobbit (1937) and The Lord of the Rings (1954-1955), which are set in a pre-historic era in an invented version of our world which he called by the Middle English name of Middle-earth. This was peopled by Men (and women), Elves, Dwarves, Trolls, Orcs (or Goblins) and of course Hobbits. He has regularly been condemned by the Eng. Lit. establishment, with honourable exceptions, but loved by literally millions of readers worldwide.</string>
		<key>books</key>
		<dict>
			<key>book1</key>
			<dict>
				<key>title</key>
				<string>The Hobbit</string>
				<key>year</key>
				<integer>1937</integer>
				<key>abstract</key>
				<string>Bilbo Baggins is a hobbit who enjoys a comfortable, unambitious life, rarely travelling further than the pantry of his hobbit-hole in Bag End. But his contentment is disturbed when the wizard, Gandalf, and a company of thirteen dwarves arrive on his doorstep one day to whisk him away on an unexpected journey there and back again’. They have a plot to raid the treasure hoard of Smaug the Magnificent, a large and very dangerous dragon
                    
                    The prelude to The Lord of the Rings, The Hobbit has sold many millions of copies since its publication in 1937, establishing itself as one of the most beloved and influential books of the twentieth century.</string>
			</dict>
			<key>book2</key>
			<dict>
				<key>title</key>
				<string>The Fellowship of the Ring</string>
				<key>year</key>
				<integer>1954</integer>
				<key>abstract</key>
				<string>Sauron, the Dark Lord, has gathered to him all the Rings of Power the means by which he intends to rule Middle-earth. All he lacks in his plans for dominion is the One Ring the ring that rules them all which has fallen into the hands of the hobbit, Bilbo Baggins.
                    
                    In a sleepy village in the Shire, young Frodo Baggins finds himself faced with an immense task, as his elderly cousin Bilbo entrusts the Ring to his care. Frodo must leave his home and make a perilous journey across Middle-earth to the Cracks of Doom, there to destroy the Ring and foil the Dark Lord in his evil purpose.</string>
			</dict>
			<key>book3</key>
			<dict>
				<key>title</key>
				<string>The Two Towers</string>
				<key>year</key>
				<integer>1954</integer>
				<key>abstract</key>
				<string>Frodo and the Companions of the Ring have been beset by danger during their quest to prevent the Ruling Ring from falling into the hands of the Dark Lord by destroying it in the Cracks of Doom. They have lost the wizard, Gandalf, in the battle with an evil spirit in the Mines of Moria; and at the Falls of Rauros, Boromir, seduced by the power of the Ring, tried to seize it by force. While Frodo and Sam made their escape the rest of the company were attacked by Orcs.
                    
                    Now they continue their journey alone down the great River Anduin alone, that is, save for the mysterious creeping figure that follows wherever they go.</string>
			</dict>
			<key>book4</key>
			<dict>
				<key>title</key>
				<string>The Return of the King</string>
				<key>year</key>
				<integer>1955</integer>
				<key>abstract</key>
				<string>The Companions of the Ring have become involved in separate adventures as the quest continues. Aragorn, revealed as the hidden heir of the ancient Kings of the West, joined with the Riders of Rohan against the forces of Isengard, and took part in the desperate victory of the Hornburg. Merry and Pippin, captured by orcs, escaped into Fangorn Forest and there encountered the Ents.
                    
                    Gandalf returned, miraculously, and defeated the evil wizard, Saruman. Meanwhile, Sam and Frodo progressed towards Mordor to destroy the Ring, accompanied by Smagol Gollum, still obsessed by his preciouss’. After a battle with the giant spider, Shelob, Sam left his master for dead; but Frodo is still alive in the hands of the orcs. And all the time the armies of the Dark Lord are massing.</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
